<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

Year: {{ .AcaYear }}

{{ .Fall.Term}}:

<ul>
{{range .Fall.Courses}}
    <li>{{.Number}} {{.Name}}: {{.Units}} seats open.</li>
{{end}}
</ul>

{{ .Spring.Term}}:

<ul>
{{range .Spring.Courses}}
    <li>{{.Number}} {{.Name}}: {{.Units}} seats open.</li>
{{end}}
</ul>

{{end}}

</body>
</html>
